<div class="content recipe-page">
  <div class="row">
    <%= image_tag @recipe.cover_image.url(:large), class: "cover-image" %>
  </div>

  <div class="row">
    <h1><%= @recipe.title %></h1>
  </div>

  <%= link_to @recipe.username, @recipe.user %>

  <%= like_button @recipe %>

  <%= bookmark_button @recipe %>

  <% if @recipe.description.present? %>
    <p><%= @recipe.description %></p>
  <% end %>
  <% cache @recipe do %>
    <%= render "ingredients", recipe:@recipe %>
    <%= render "steps", recipe:@recipe %>
    <%= render "comments", comments:@comments %>

    <%= render "comment_form", recipe: @recipe %>
  <% end %>

  <% if current_user.owns? @recipe %>
    <%= render "controls", recipe: @recipe %>
  <% end %>
</div>
