<h1><%= @recipe.title %></h1>

<% if @recipe.description.present? %>
  <p><%= @recipe.description %></p>
<% end %>

<%= render "ingredients", recipe:@recipe %>
<%= render "steps", recipe:@recipe %>

<%= link_to @recipe.username, @recipe.user %>

<% if current_user.owns? @recipe %>
  <%= render "controls", recipe: @recipe %>
<% end %>
