<h1><%= @recipe.title %></h1>

<div>
  <%= image_tag @recipe.cover_image.url(:medium) %>
</div>

<%= link_to @recipe.username, @recipe.user %>

<%= like_button @recipe %>

<%= bookmark_button @recipe %>

<% if @recipe.description.present? %>
  <p><%= @recipe.description %></p>
<% end %>

<%= render "ingredients", recipe:@recipe %>
<%= render "steps", recipe:@recipe %>
<%= render "comments", comments:@comments %>

<%= render "comment_form", recipe: @recipe %>

<% if current_user.owns? @recipe %>
  <%= render "controls", recipe: @recipe %>
<% end %>
