<div class="content user-profile">
  <div class="row profile-header">
    <div><%= link_to avatar(@user, size: :medium), @user %></div>
    <div>
      <span>Followers: <%= @user.followers_count %></span>
      <span>Followed Users: <%= @user.followed_users_count %></span>
    </div>
    <div><h1 class="name"><%= current_user.username %></h1></div>
    <% if current_user != @user %>
      <div>
        <%= follow_button @user %>
      </div>
    <% end %>
  </div>

  <% if current_user == @user %>
    <div class="row profile-control">
      <%= form_for @user, html: { multipart: true } do |form| %>
        <%= form.label :avatar %>
        <%= form.file_field :avatar %>
        <%= form.submit %>
      <% end %>
    </div>
  <% end %>
  <div class="row user-recipes">
    <h3><%= t(".users_recipes", username: @user.username, recipes_count: @user.recipes_count) %></h3>
    <div class="recipes">
      <%= render @recipes %>
    </div>
  </div>
</div>
