<%= form_for [:my, @recipe], html: { multipart: true } do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>
  <div>
    <%= form.label :cover_image %>
    <%= form.file_field :cover_image %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <fieldset>
    <legend>Ingredients</legend>
    <%= form.fields_for(:ingredients) do |ingredients_form| %>
      <%= render "ingredient_fields", form:ingredients_form %>
    <% end %>
    <%= link_to_add_nested t(".add_ingredient"), form, :ingredients %>
  </fieldset>

  <fieldset>
    <legend>Steps</legend>
    <%= form.fields_for(:steps) do |steps_form| %>
      <%= render "step_fields", form:steps_form %>
    <% end %>
    <%= link_to_add_nested t(".add_step"), form, :steps %>
  </fieldset>

  <div>
    <%= form.submit %>
  </div>
<% end %>
