<header>
  <nav>
    <div class="left">
      <%= link_to t("home"), root_path %>
    </div>
    <div class="center">
      <%= render "searches/search_form" %>
    </div>
    <div class="right">
      <% if signed_in? %>
          <div class="avatar"><%= avatar current_user, size: :thumb %></div>
          <%= link_to current_user.username, current_user %>
          <%= link_to t(".create_recipe"), [:new, :my, :recipe] %>
          <%= link_to t("sign_out"), session_path, method: :delete %>
      <% else %>
          <%= link_to t("sign_up"), new_user_path %>
          <%= link_to t("sign_in"), new_session_path %>
      <% end %>
    </div>
  </nav>
</header>
